// Variables de couleur
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// Variables de police
$font-logo-titles: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;

// Styles globaux
body {
  font-family: $font-text;
  background-color: #fff; // Vous pouvez ajuster cette couleur selon vos besoins
}

