@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #F6F6F6;
}

* {
  max-width: 100vw;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
header img {
  width: 197px;
  height: 36px;
}

.location {
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #353535;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.location i {
  margin-right: 17px;
}
.location p {
  font-size: 16px;
  font-weight: 500;
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.explorer h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
  width: 275px;
  height: 68px;
  padding-top: 39px;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .explorer h1 {
    font-size: 40px;
    width: auto;
  }
}
.explorer p {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  width: 315px;
  height: 46px;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .explorer p {
    width: auto;
  }
}
.explorer button {
  background-color: #9356DC;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  color: white;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 27px;
  margin-bottom: 57px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  transition: box-shadow 400ms ease, background 400ms ease;
}
.explorer button:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}

.function {
  background-color: white;
  padding: 20px;
}
@media screen and (min-width: 1024px) {
  .function {
    padding: 1.39% 12.5%;
  }
}
.function h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.function .number {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  position: relative;
  left: -15px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.function ul {
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
}
@media screen and (min-width: 1024px) {
  .function ul {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}
.function li {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: center;
  width: 100%;
  height: 72.38px;
  top: 505px;
  left: 32.51px;
  gap: 0px;
  border-radius: 20px;
  margin-bottom: 25px;
  background: rgb(246, 246, 246);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.function li i {
  margin-right: 20px;
  color: rgb(126, 126, 126);
}

.restaurants {
  background-color: #F6F6F6;
  padding: 20px;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding: 1.39% 12.5%;
  }
}
.restaurants h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}
.restaurants .cards a {
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 1024px) {
  .restaurants .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.restaurants .card {
  background-color: white;
  height: 280px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  display: inline-block;
  /* Pour s'assurer que la carte est une boîte de bloc */
}
.restaurants .card .picture {
  position: relative;
  width: 100%;
  height: 200px;
}
.restaurants .card .picture .new {
  position: absolute;
  background-color: #99E2D0;
  color: #1b6150;
  font-weight: 500;
  font-size: 14px;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  top: 15px;
  left: 75%;
  z-index: 1;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurants .card .picture img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
@media screen and (min-width: 1024px) {
  .restaurants .card .picture img {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants .card .picture {
    width: 100%;
  }
}
.restaurants .card .infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants .card .infos h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 5px;
  padding-left: 13px;
}
.restaurants .card .infos p {
  font-size: 14px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 13px;
  padding-bottom: 12px;
}
.restaurants .card .hidden-checkbox {
  display: none;
}
.restaurants .card .checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: right;
  position: relative;
  right: 10px;
  bottom: 55px;
}
.restaurants .card .checkbox-container .checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 21px;
  position: relative;
  left: -13px;
}
.restaurants .card .checkbox-container .checkmark .checked {
  display: none;
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
}
.restaurants .card .checkbox-container .checkmark .unchecked {
  display: block;
  color: #000000;
}
.restaurants .card .hidden-checkbox:checked + .checkmark .unchecked {
  display: none;
}
.restaurants .card .hidden-checkbox:checked + .checkmark .checked {
  display: block;
}
@media screen and (min-width: 1024px) {
  .restaurants .card {
    width: 40%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 20px;
  gap: 20px;
}
footer img {
  width: 130px;
  height: 40px;
  filter: invert(1);
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  footer img {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer-list {
    display: flex;
    gap: 30px;
  }
}
footer i {
  width: 11px;
  height: 13px;
  margin-right: 10px;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}
footer li {
  font-size: 16px;
  line-height: 18.75px;
  text-align: left;
  margin-bottom: 7px;
}
footer li.footer500 {
  font-weight: 500;
}
footer li.footer400 {
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  footer li {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    padding: 20px 50px;
    gap: 30px;
  }
}
.header-restaurant {
  display: flex;
}
.header-restaurant a {
  position: absolute;
  left: 20px;
  text-decoration: none;
  color: black;
}
.header-restaurant a i {
  font-size: 20px;
}

.main-restaurant {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-restaurant h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
}
.main-restaurant h2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: left;
}
.main-restaurant .restaurant-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-inline: 17px;
  border-radius: 50px 50px 0 0;
  background-color: #F6F6F6;
  bottom: 55px;
}
@media screen and (min-width: 1024px) {
  .main-restaurant .restaurant-container .infos {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .main-restaurant .restaurant-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .main-restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150%;
  }
}
.entrees,
.plats,
.desserts {
  background-color: #F6F6F6;
}
.entrees h2,
.plats h2,
.desserts h2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: left;
}
.entrees .underline,
.plats .underline,
.desserts .underline {
  position: relative;
  display: inline-block;
}
.entrees .underline::before,
.plats .underline::before,
.desserts .underline::before {
  content: "";
  position: absolute;
  bottom: -2px;
  /* Ajuste l'espace entre le texte et le soulignement */
  width: 40px;
  /* Définit la longueur du soulignement */
  height: 3px;
  /* Épaisseur du soulignement */
  background-color: #99E2D0;
  /* Couleur du soulignement */
}
.entrees ul,
.plats ul,
.desserts ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.entrees li,
.plats li,
.desserts li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: center;
  width: 100%;
  height: 72.38px;
  top: 505px;
  left: 32.51px;
  gap: 0px;
  border-radius: 20px;
  margin-bottom: 25px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding-left: 15px;
  list-style-type: none;
}
.entrees li input[type=checkbox],
.plats li input[type=checkbox],
.desserts li input[type=checkbox] {
  display: none;
}
.entrees li input[type=checkbox] + label,
.plats li input[type=checkbox] + label,
.desserts li input[type=checkbox] + label {
  display: flex;
  position: relative;
  overflow: hidden;
}
.entrees li input[type=checkbox]:checked + label .valid,
.plats li input[type=checkbox]:checked + label .valid,
.desserts li input[type=checkbox]:checked + label .valid {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
  overflow: hidden;
  width: 59px;
}
.entrees li input[type=checkbox]:checked + label .div-price-menu,
.plats li input[type=checkbox]:checked + label .div-price-menu,
.desserts li input[type=checkbox]:checked + label .div-price-menu {
  position: relative;
  right: 5px;
}
.entrees li input[type=checkbox]:checked + label .div-price-menu-valid,
.plats li input[type=checkbox]:checked + label .div-price-menu-valid,
.desserts li input[type=checkbox]:checked + label .div-price-menu-valid {
  right: 0px;
  width: 100px;
}
.entrees li .div-title-text-menu,
.plats li .div-title-text-menu,
.desserts li .div-title-text-menu {
  width: 260px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.entrees li .div-price-menu-valid,
.plats li .div-price-menu-valid,
.desserts li .div-price-menu-valid {
  display: flex;
  position: relative;
  align-items: center;
  right: -20px;
  width: 70px;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.entrees li .valid,
.plats li .valid,
.desserts li .valid {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  position: relative;
  right: -100px;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  width: 100px;
  height: 100%;
  margin: 0px;
  transition: all 0.5s ease-in-out;
}
.entrees li .div-price-menu,
.plats li .div-price-menu,
.desserts li .div-price-menu {
  position: relative;
  right: -7px;
  transition: all 0.5s ease-in-out;
  width: 50%;
}
.entrees li .menu-item,
.plats li .menu-item,
.desserts li .menu-item {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
}
.entrees li .title-menu,
.plats li .title-menu,
.desserts li .title-menu {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: left;
  margin: 0;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.entrees li .text-menu,
.plats li .text-menu,
.desserts li .text-menu {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.41px;
  text-align: left;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.entrees li .price-menu,
.plats li .price-menu,
.desserts li .price-menu {
  display: flex;
  font-family: Roboto;
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
  margin-bottom: 0px;
  margin-top: 28px;
}

@media screen and (min-width: 1024px) {
  .entrees, .plats, .desserts {
    width: 50%;
  }
}
.hidden-checkbox {
  display: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: right;
  position: relative;
  right: 10px;
  bottom: 55px;
}
.checkbox-container .checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 21px;
  position: relative;
  left: -13px;
  top: 8px;
}
.checkbox-container .checkmark .fa-heart {
  font-size: 20px;
}
.checkbox-container .checkmark .checked {
  display: none;
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
}
.checkbox-container .checkmark .unchecked {
  display: block;
  color: #000000;
}

@media screen and (min-width: 1024px) {
  .checkbox-container {
    bottom: 58px;
  }
}
.hidden-checkbox:checked + .checkmark .unchecked {
  display: none;
}

.hidden-checkbox:checked + .checkmark .checked {
  display: block;
}

.btn-commander {
  display: flex;
  justify-content: center;
}
.btn-commander button {
  background-color: #9356DC;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  color: white;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: -35px;
  margin-bottom: 57px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  transition: box-shadow 400ms ease, background 400ms ease;
}
.btn-commander button:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}/*# sourceMappingURL=styles.css.map */